* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    }
    
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}
    
    nav,footer,header,aside{display: block;}
    
    :root{
    --boss: rgb(160, 160, 160);
    --colors: rgb(210, 198, 198);
    }
    
    input,button,textarea{font-family:inherit;}
    
    input::-ms-clear{display: none;}
    button{cursor: pointer;}
    button::-moz-focus-inner {padding:0;border:0;}
    a, a:visited{text-decoration: none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
    
    html{
    scroll-behavior: smooth;
}
body {
    /* background: rgb(31, 113, 181); */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d9/Cumulus_humilis_clouds_in_Ukraine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.boxForTemp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(219, 199, 24);
    -webkit-text-stroke: 1.5px black;
    font-weight: 900;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    background: rgba(31, 114, 181, 0.763);
    max-width: 1000px;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-family: Arial;
    color: white;
}
.box_input {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.city {
    border: 2.5px solid #2980ba;
    border-radius: 5px;
    padding: 3px;
    font-family: Arial;
    font-weight: 900;
}
.btn {
    background-color: #5f5b5b;
    color: white;
    padding: 4px;
    border: 2px solid #b1a9a9;
    border-radius: 5px;
    font-family: Arial;
}
.namePlace {
    color: rgb(151, 116, 116);
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    margin-top: 15px;
}
.boxTemperature {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: Arial;
    font-size: 25px;
    /* margin-top: -40px; */
}
.boxWind {
    color: rgba(0, 0, 0, 0.708);
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-weight: 900;
    max-width: 1000px;
    border-radius: 20px;
    background: #dcdada8d;
    margin: 0 auto;
    padding: 20px;
    margin-top: 25px;
    -webkit-text-stroke: 0.3px rgb(219, 199, 24);
}
.boxCloud {
    max-width: 1000px;
    background: #feebebe9;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    font-family: Arial;
    font-weight: 900;
    -webkit-text-stroke: 0.3px rgb(219, 199, 24);
    font-size: 40px;
}
.h2Temp {
    margin-bottom: 15px;
    margin-top: 10px;
}
.infoWeathe {
    transform: scale(0);
    transition: 1s;
}
.infoWeathe.new {
    transform: scale(1);
}
/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) {
    body {
        /* background: rgb(31, 113, 181); */
        background-position: center;
        background-attachment: fixed;
    }
    .boxForTemp, .boxWind, .boxCloud {
        max-width: 1000px;
    }
    .boxTemperature {
        margin: 0;
    }
    .infoWeathe, .box_input {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Стилі для середніх екранів (дисплей максимум 991рх) */
@media (max-width: 991px) {
}

/* Стилі для малих екранів (дисплей максимум 767рх) */
@media (max-width: 767px) {
}

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
@media (max-width: 575px) {
    .boxForTemp, .boxWind, .boxCloud {
        font-size: 30px;
    }
}
@media (max-width: 400px) {
    .boxForTemp, .boxWind, .boxCloud {
        font-size: 25px;
    }
    .boxForTemp {
        gap: 5px;
    }
}