* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    }
    
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}
    
    nav,footer,header,aside{display: block;}
    
    :root{
    --boss: rgb(160, 160, 160);
    --colors: rgb(210, 198, 198);
    }
    
    input,button,textarea{font-family:inherit;}
    
    input::-ms-clear{display: none;}
    button{cursor: pointer;}
    button::-moz-focus-inner {padding:0;border:0;}
    a, a:visited{text-decoration: none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
    
    html{
    scroll-behavior: smooth;
}
body {
    /* background: rgb(31, 113, 181); */
    background-image: url(https://images.wallpaperscraft.ru/image/single/okean_pliazh_vid_sverhu_134429_1280x720.jpg);
    /* https://images.wallpaperscraft.ru/image/single/dom_gory_pejzazh_142516_1920x1080.jpg */
    /* https://images.wallpaperscraft.ru/image/single/gory_sinee_nebo_les_1325640_1920x1080.jpg */
    /* https://images.wallpaperscraft.ru/image/single/doroga_asfalt_razmetka_130996_1280x720.jpg */
    /* https://upload.wikimedia.org/wikipedia/commons/d/d9/Cumulus_humilis_clouds_in_Ukraine.jpg */
    /* background-image: url(); */
    background-size: cover;
    background-repeat: no-repeat;
}
.boxForTemp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(219, 199, 24);
    -webkit-text-stroke: 1.5px black;
    font-weight: 900;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    background: rgba(31, 114, 181, 0.763);
    max-width: 1000px;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-family: Arial;
    color: white;
}
.box_input {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.city {
    border: 2.5px solid #2980ba;
    border-radius: 5px;
    padding: 3px;
    font-family: Arial;
    font-weight: 900;
}
.btn {
    background-color: #5f5b5b;
    color: white;
    padding: 4px;
    border: 2px solid #b1a9a9;
    border-radius: 5px;
    font-family: Arial;
}
.namePlace {
    color: rgb(151, 116, 116);
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    margin-top: 15px;
}
.boxTemperature {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: Arial;
    font-size: 25px;
    /* margin-top: -40px; */
}
.boxWind {
    color: rgba(0, 0, 0, 0.708);
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-weight: 900;
    max-width: 1000px;
    border-radius: 20px;
    background: #dcdada8d;
    margin: 0 auto;
    padding: 20px;
    margin-top: 25px;
    -webkit-text-stroke: 0.3px rgb(219, 199, 24);
}
.boxCloud {
    max-width: 1000px;
    background: #feebebe9;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    font-family: Arial;
    font-weight: 900;
    -webkit-text-stroke: 0.3px rgb(219, 199, 24);
    font-size: 40px;
}
.h2Temp {
    margin-bottom: 15px;
    margin-top: 10px;
}
.infoWeathe {
    transform: scale(0);
    transition: transform 0.5s ease;
}
.infoWeathe.new {
    transform: scale(1);
}
.title_icon {
    width: 80px;
}
.header {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
}
.box_comments {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background: #575252;
    margin-top: 50px;
    border-radius: 15px;
    transition: 1s;
    margin-bottom: 30px;
}
.comments_title {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: Arial;
}
.comments {
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    height: 150px;
    overflow-y: scroll;
    box-sizing: border-box;
    resize: none;
    font-family: Arial;
    font-size: 20px;
    font-weight: 900;
}
.comments_name {
    padding: 10px;
    width: 380px;
    border-radius: 10px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 900;
}
.send {
    width: 400px;
    text-align: center;
    background: green;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 20px;
    font-family: Arial;
}
.right_comments {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial;
    background-image: url(https://img.freepik.com/free-vector/cartoon-style-paper-cloud-atmosphere-backdrop-design_1017-56269.jpg?semt=ais_hybrid);
    background-size: cover;
    font-weight: 900;
    background-position: center;
    /* -webkit-text-stroke: 1px black; */
    border-radius: 10px;
    padding: 10px;
}
.randomDiv {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial;
    background-image: url(https://img.freepik.com/free-vector/cartoon-style-paper-cloud-atmosphere-backdrop-design_1017-56269.jpg?semt=ais_hybrid);
    background-size: cover;
    font-weight: 900;
    background-position: center;
    /* -webkit-text-stroke: 1px black; */
    border-radius: 10px;
    padding: 10px;
}
.name {
}
.user_comment {
}
.allUser_comments {
    width: 360px;
    max-height: 150px;
    padding: 20px;
    border-radius: 10px;
    background: #478b919d;
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 20px;
}
/* .allUser_comments.show {
    height: 150px;
}
.allUser_comments.shows {
    height: 150px;
} */
/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) {
    body {
        /* background: rgb(31, 113, 181); */
        background-position: center;
        background-attachment: fixed;
    }
    .boxForTemp, .boxWind, .boxCloud {
        max-width: 1000px;
    }
    .boxTemperature {
        margin: 0;
    }
    .infoWeathe, .box_input {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Стилі для середніх екранів (дисплей максимум 991рх) */
@media (max-width: 991px) {
}

/* Стилі для малих екранів (дисплей максимум 767рх) */
@media (max-width: 767px) {
}

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
@media (max-width: 575px) {
    .boxForTemp, .boxWind, .boxCloud {
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    .box_comments {
        margin-left: 20px;
        margin-right: 20px;
    }
    .comments {
        max-width: 100%;
    }
    .comments_name {
        max-width: 100%;
    }
    .send {
        max-width: 100%;
    }
    .allUser_comments {
        max-width: 100%;
        /* margin-left: 10px;
        margin-right: 10px; */
        background: transparent;
    }
    .randomDiv {
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .right_comments {
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .header {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width: 400px) {
    .boxForTemp, .boxWind, .boxCloud {
        font-size: 25px;
    }
    .boxForTemp {
        gap: 5px;
    }
    .randomDiv, .right_comments {
        font-size: 18px;
    }
}